<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title> PASSPORT </title>
  </head>
   <body>
        <main>
           <a href ="/auth/google"> login with google</a>

        </main>
     <h1> Login file</h1>
   </body>


</html>